* {
	margin:0;
	padding:0;

	color: white;
}


/*
 * Front Page
 */

.frontPg {
	width: 100%;
	height: 98vh;
}

.title {
	position: absolute;

	top: 2rem;
	left: 50%;
	transform: translateX(-50%);

	font-size: 4rem;
}

.fluidSim {
	position: absolute;
	width: 100%;
	height: 100%;
}

.frontPgImg {
	position: absolute;
	margin: 0 0 0 0;

	top: calc(50% - 11.25rem);
	left: calc(50% - 11.25rem);

    width: 22.5rem;
    height: 22.5rem;

    border-radius: 100%;
    object-fit: cover;

    transition: 1s ease-in-out;
    animation: spin 2s;
}


.frontPgImg:hover {
	rotate: 360deg;
}

@keyframes spin {
    to { transform: rotate(360deg);}
}

.sideTabs {
	position: absolute;
	font-size: 3rem;
	padding: 1rem;
	border-radius: 1rem;

	height: 4rem;

	color: black;
	text-decoration: none;
}

.sideTabs p {
	transition: 1s ease-in-out;
}


/*
 * 	Study videos
 */
 .videos {
	left: 5%;
	top: 50%;
	transform: translateY(-50%);

	background-color: rgba(173, 216, 230, .6);

	transition: 1s ease-in-out;
}

.videos:hover {
	scale: 4;
	translate: -150% 150%;
	border-radius: 0 100rem 100rem 0;
}


.videos:hover p {
	scale: .25;
	translate: 40% 0;
}

/*
 *	Timer
 */
.timer {
	right: 5%;
	top: 50%;
	transform: translateY(-50%);

	background-color: rgba(255, 200, 128, .6);

	transition: 1s ease-in-out;
}

.timer:hover {
	scale: 4;
	translate: 150% 150%;
	border-radius: 100rem 0 0 100rem;
}


.timer:hover p {
	scale: .25;
	translate: -40% 0;
}

/*
 *	Stopwatch
 */
.stopwatch {
	right: 5%;
	bottom: 30%;
	transform: translateY(-50%);

	background-color: rgba(255, 200, 128, .6);

	transition: 1s ease-in-out;
}

.stopwatch:hover {
	scale: 4;
	translate: 150% 150%;
	border-radius: 100rem 0 0 100rem;
}


.stopwatch:hover p {
	scale: .25;
	translate: -40% 0;
}
